[Desktop Entry]
Type=Application
Name=hoerbert
GenericName=hörbert
Comment=hörbert software
Comment[de]=hörbert Software
Comment[en]=hoerbert software
Comment[fr]=logiciel hoerbert
Keywords=hörbert;
Keywords[de]=hörbert;
Keywords[en]=hoerbert;
Keywords[fr]=hoerbert;
Categories=AudioVideo;
Exec=hoerbert
Icon=hoerbert
